h1 {
    text-align: center;
    margin-bottom: 30px;
    color: rgb(54, 69, 79);
}
footer p {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  font-size: 0.9em;
}
table, th, td {
  border: 1px solid #ddd; 
  padding: 10px; 
  text-align: left; 
}

table {
  border-collapse: collapse;
  width: 100%; 
}

th {
  background-color: rgb(54, 69, 79); 
  color: white; 
}

