* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  color: rgb(54, 69, 79);
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 30px;
}

.team-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  flex-direction: row;
  width: 100%;
  justify-content: flex-start;
  align-content: flex-start;
}


.team-card {
  background: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.2s;
  width: 250px;
  height: 250px;
  display: flex;
  color: rgb(54, 69, 79);
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-card:hover {
  transform: scale(1.05);
}

footer p {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  font-size: 0.9em;
}
a {
    text-decoration: none;
    color: inherit;
}