
body{
  height: 100vh;
  
  position:relative;
  overflow:hidden;
}
.background{
  position:absolute;
  width: 100%;
  height:100%;
  background: url("https://images.unsplash.com/photo-1504450758481-7338eba7524a") no-repeat center center/cover;
  filter: blur(8px);
  z-index: -1;
} 
h1{
  color:rgb(54, 69, 79);

}
.welcome-box{
  position:absolute;
  top: 50%;
  left:50%;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius:10px;
  text-align:center;
  width:400px;
  padding: 50px;
  transform: translate(-50%,-50%);
}
.nav-links{
  margin-top:10px;
  display:flex;
  flex-direction:column;
  gap: 10px;
}
.nav-links a{
  text-decoration:none;
  background-color:rgb(54, 69, 79);
  color: white;
  padding:10px;
  border-radius:5px;
  transition: 0.3s;
}
footer p {
  position: fixed;
  bottom: 10px;
  left: 10px;
  padding: 10px;
  font-size: 0.9em;
}
